asgiref==3.11.1
cloudinary==1.45.0
Django==6.0.6
django-cloudinary-storage==0.3.0
django-ckeditor-5==0.2.10
gunicorn==23.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.0
pillow==12.2.0
psycopg2-binary==2.9.11
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.2
rich==15.0.0
six==1.17.0
sqlparse==0.5.5
whitenoise==6.8.2
