{% extends "base.html" %} {% load static %} {% load blog_filters %} {% block title %}Blog{% endblock %}
{% block content %}

<!-- Background Effects -->
<div class="bg-grid bg-grid--subtle" data-bg="grid"></div>
<canvas id="particleCanvas" class="fixed inset-0 z-0 pointer-events-none" data-fade-scroll="true"
  data-bg="particles"></canvas>
<div class="bg-noise bg-noise--subtle" data-bg="noise"></div>

<section class="relative z-10 max-w-7xl mx-auto px-4 py-7">
  {% include "components/blog/featured-slider.html" %}
  {% include "components/blog/main-grid.html" %}
  {% include "components/blog/newsletter.html" %}
</section>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/featured-slider.js' %}"></script>
<script src="{% static 'js/blog-dropdown.js' %}"></script>
<script src="{% static 'js/like-btn.js' %}"></script>
<script src="{% static 'blog/js/particles.js' %}"></script>
{% endblock %}